{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>Static Keystroke Dynamic Authentication (SKDA) Model to Authenticate User during Password Change</title>
    <!-- core CSS -->
    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{%static 'css/animate.min.css'%}" rel="stylesheet">
    <link href="{%static 'css/prettyPhoto.css'%}" rel="stylesheet">
    <link href="{%static 'css/styles.css'%}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{%static 'css/slider-style.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{%static 'css/slider-custom.css'%}"/>
    <script type="text/javascript" src="{%static 'js/modernizr.custom.79639.js'%}"></script>
    <!--[if lt IE 9]>
    <script src="{%static 'js/html5shiv.js'%}"></script>
    <script src="{%static 'js/respond.min.js'%}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{%static 'images/ico/favicon.ico'%}">
</head>

<body id="home">
<header id="header">
    <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{% url 'AdminHome' %}">
                    <h3>Keystroke Dynamic Authentication</h3>

                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="scroll"><a href="{% url 'AdminHome' %}">Home</a></li>
                    <li class="scroll"><a href="{% url 'RegisterUsersView' %}">User Details</a></li>
                    <li class="scroll"><a href="{% url 'AdminViewResults' %}">Paramters Results</a></li>
                    <li class="scroll"><a href="{% url 'index' %}">Logout</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->

<section id="about">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title wow fadeInDown">
                Static Keystroke Dynamic Authentication (SKDA) Model to Authenticate User during Password Change
            </h2>
            <p class="wow fadeInDown">
                Keystroke dynamics is considered as a supporting
                factor of authentication. Especially in the static keystroke dynamics,
                the user is identified by using the timing featured, which
                is captured while the user enters the login ID and password.
                To achieve this, the user profile needs to be created with timing
                features. However, in a scenario like a change of password where
                nearly no keystroke timing data is available, non-conventional
                features may be helpful. This article focuses on using nonconventional
                features such as NumLock key, Shift key, CapsLock
                key, etc for identifying users during a change of password. The
                paper also details how to capture the non-conventional features
                in static keystroke dynamics and build a model that can be used
                in the change of password.
            </p>
        </div>

        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="{%static 'images/about.png'%}" alt="">
            </div>
            {%block contents%}
            {%endblock%}

        </div>
    </div>
</section><!--/#about-->


<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2024 Alex Corporations. Template by <a target="_blank" href="#"
                                                              title="Free Bootstrap Themes and HTML Templates">Alex</a>
            </div>

        </div>
    </div>
</footer><!--/#footer-->

<script src="{%static 'js/jquery.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/mousescroll.js'%}"></script>
<script src="{%static 'js/smoothscroll.js'%}"></script>
<script src="{%static 'js/jquery.prettyPhoto.js'%}"></script>
<script src="{%static 'js/jquery.isotope.min.js'%}"></script>
<script src="{%static 'js/jquery.inview.min.js'%}"></script>
<script src="{%static 'js/wow.min.js'%}"></script>
<script type="text/javascript" src="{%static 'js/jquery.ba-cond.min.js'%}"></script>
<script type="text/javascript" src="{%static 'js/jquery.slitslider.js'%}"></script>
<script type="text/javascript" src="{%static 'js/slitslider-custom.js'%}"></script>
<script src="{%static 'js/custom-scripts.js'%}"></script>
</body>
</html>